<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github.com</id>
            <username>oxyeo-builds</username>
            <password>{KGAmNKay7JcHgkL6qqDHvJ0/lNKtyQ4wK/uIITk82bjSgC0A5K80lVmwNVAIloLOqZOlcESzI4fRb/16N8DHXA==}</password>
        </server>
    </servers>
</settings>
