<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github.com</id>
            <username>oxyeo-builds</username>
            <password><![CDATA[{mQKX2OVTYtkHrlP4vAZfa05h2f7kUEU/D34NU5ZFW6U2Zgt+XD9wWNgYWSoCeifYv9ZWoBOIqmSPbhNiqLRPUw==}]]></password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase><![CDATA[{FwfXsVoyqfUHrwo2StjT9rL6Kiux6KOq7lKagtORABU=}]]></passphrase>
        </server>
        <server>
            <id>ossrh</id>
            <username>oxyeo.dev</username>
            <password><![CDATA[{ZKV6upyqB98Hi87Lw2z4Dva1ZG39XsxPo/LdfYDstNE=}]]></password>
        </server>
    </servers>
</settings>
